html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply overflow-hidden;
}

* {
  box-sizing: border-box;
}

li {
  @apply my-4 cursor-pointer;
}

.navSection {
  height: 100px;
}